        </html><!DOCTYPE html>
<html lang="en">
<head>
  <title>About PlanetPulse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <!-- Navbar header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <!-- Navbar button triple line -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">
        <img src="../static/assets/logob.png" alt="logo" class="navbar-logo">
      </a>
    </div>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/map">Map</a></li>
        <li class="active"><a href="../templates/about.html">About</a></li>
        <li><a href ="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main Page Content -->
<div class="title-container">
  <h1 class="title">About <p class="italic">PlanetPulse</p></h1>
  <div class="text" style="font-size: 20px;">
    <p>Meet our amazing team:</p>
    <ul style="list-style-type: none; padding-left: 0;">
      <li>Theophilus Eriatra</li>
      <li>Jasper Harvey</li>
      <li>Richard Nguyen</li>
      <li>Salma Aboulnaga</li>
      <li>Linus Yang</li>
    </ul>
  </div>
</div>

<div class="break">
</div>

<script>
  // Add any scripts you need here
</script>

</body>
</html>