        </html><!DOCTYPE html>
<html lang="en">
<head>
  <title>ABOUT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/about.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <!-- Navbar header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <!-- Navbar button triple line -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">MySite</a>
    </div>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/map">Map</a></li>
        <li><a href="/about">About</a></li>
        <li><a href ="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main Page Content -->
<div class="container-fluid content" style="margin-top: 70px;">
    <div>
      <h1 class="desc"><b>About Us</b></h1>
      <p class="desc">
        An interactive map with the purposes of economic and social development for several population sizes and socioeconomic areas. (environmental, if we have the time)
      </p>
    </div>
</div>

</body>
</html>